*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
     background: linear-gradient( rgba(0,0,0,0.8), rgba(0,0,0,0.2)), url('maldives-1993704_640.jpg');
     background-size: cover;
}
nav{
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 20px;
}
.logo{
    font-size: 30px;
}
.options ul{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}
.options ul li{
    margin: 0 15px;
    list-style: none;
}
a{
    text-decoration: none;
    color: #fff;

}
.options ul li a{
    position: relative;
}
.options ul li a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid indianred;
    transition: 0.2s;
}
.options ul li a:hover:before{
    width: 100%;

}
.register a{
font-size: 23px;
padding: 5px;
background-color: indianred;
border: 2px solid indianred;
border-radius: 3px;

}
.register a:hover{
    background-color: transparent;
    transition: 0.3s;
}
.icon{
    color: #fff;
    font-size: 23px;
    size: 23px;
    display: none;
}
.txt{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.txt span{
    letter-spacing:4px ;
}
.txt h1{
    font-size: 50px;
    font-weight: 700;
    text-transform: uppercase; 
    color: white;
}
.txt a{
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase; 
    color: rgb(255, 255, 255);
    background-color: indianred;
    border: 2px solid indianred;
    margin:5px 0;
    padding: 5px 7px;
    letter-spacing: 5px;
}
.txt a:hover{
    background-color: transparent;
    transition: 0.3s;

}
@media(max-width:800px) {
    .register a{
        font-size: 19px;
        padding: 3px;        
        } 
        .options ul{
            font-size: 18px;
        }
        .options ul li{
            margin: 0 10px;
        }  
}
@media(max-width:650px) {
        .options ul{
            font-size: 15px;
        }
        .options ul li{
            margin: 0 7px;
        }  
        .logo{
            font-size: 25px;
        }
        .txt h1{
            font-size: 40px;
        }
}
  
  @media screen and (max-width: 600px) {
    .options {
        display: none;
        position: absolute;
        top: -100%;
        left: 0;
        width: 100%;
        background-color: black;
        padding: 20px 0;
        box-sizing: border-box;
        z-index: 100;
        transition: 1s;
    }

    .icon {
        display: block;
        position: absolute;
        top: 10;
        right: 0;
        color: #fff;
        font-size: 20px;
        z-index: 200;

    }

    .options ul {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .options ul li {
        margin: 10px 0;
    }
}
@media screen and (max-width:380px){
    .txt h1{
        font-size: 30px;
    }
    .txt span{
        font-size: 15px;
    }
    .txt a{
        font-size: 13px;
        letter-spacing: 3px;
    }
}